body{
    background-color: #AFB
}

#wrapper{
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    
}

header{
    text-align: center;
    border: 10px solid green;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

header img {
    width: 70%;

}



article{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 4%
}

article h1{
    width: 50%;
    padding-bottom: 10px;
    border-bottom: 2px solid green;
}

article form{
    font-size: 16px;
    width: 50%;
    font-family: sans-serif;
    width: 50%;
    text-align:
}

article form p{
    font-size: 30px;
}

article form input[type=text] {
    text-align: center;
    font-size: 20px;
    width: 50%;
    padding: 12px 5px;
    margin: 5px;;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 10px;
    
}

article form input[type=submit]{
    padding: 12px 5px;
    background-color: green;
    border: 0px;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 35%;
    font-size: 20px;
    padding: 17px;
    margin: 38px;
}

article h1{
    color: green;
    font-size: 40px;
}

article h2{
    width: 50%;
    padding: 10px;
    font-size: 40px
}


footer{
    background-color: forestgreen;
    color: white;
    padding: 8px;
    font-family: cursive
}